:root{
    --background-color: #545E75;
    --border-color: #63ADF2;
}

body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section{
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#greeting{
    border-left: none;
}

#greeting, #link{
    flex-basis: calc(100%/3);
}

#social, #email{
    flex-grow: 1;
}

#link{
    gap: 6rem;
}

#social{
    gap: 3rem;
}

h1, h2, h3, a, p, span{
    font-family: "Rubik", sans-serif;
    color: #A7CCED;
}

a{
    text-decoration: none;
}

main{
    flex-grow: 1;
}

main > article{
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;

}

main > article > .art-sec{
    height: 100%;
    width: 100%;
}

main > article > .art-info, main > article > .art-nav{
    border-left: 1px solid var(--border-color);
}

main > article > .art-nav, main > article > .art-credit{
    border-top: 1px solid var(--border-color);
}

#canvasContainer {
    position: relative;
    width: 100%;
  }
  
  #myCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.experience-canvas{
    width: 100%;
    height: 100%;
    margin: 0;
}

.info{
    padding: 1rem 2rem;
}

.info > h1{
    text-align: center;
}

.credit{
    text-align: left;
    padding: 1rem 2rem;
}

.art-nav {
    width: 100%;
    overflow: hidden;
}

.art-nav-but{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.art-nav-but:active{
    /* ADD A RESPONSIVE ACTIVE FEED BACK SO THE USER KNOWS THEY CLICKED IT*/
}

.art-nav-left {
    float: left;
}

.art-nav-right {
    border-left: 1px solid var(--border-color);
}

/**********************************************************************/
.arrow{
    padding: 1rem 1rem;
    top: 50%;
    left: 50%;
}

.left{
    transform: rotate(90deg);
}

.right{
    transform: rotate(270deg)
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid #82A0BC;
    border-right: 5px solid #82A0BC;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/**********************************************************************/
.info{
    position: absolute;
}

.info[data-status="inactive"]{
    display: none;
}


/* ADD ANIMATION FOR INFO SEC

INCREASE FONT SIZE OF NAV   
*/